.DS_Store
.gradle/*
.idea/*
.metals/*
.bloop/*
.vscode
.bsp
.scalafmt.conf
*.iml
native
project/target/*
project/project/*
target/*
build/*
*/target/*
generated/*
project/metals.sbt
cockroach-data/*

